@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --footer-head-color: rgb(125, 231, 249);
    --footer-list-color: rgba(255, 255, 255, 0.7);
    --footer-bg-color: rgba(2, 2, 24, 0.98);    /* rgb(32, 33, 36); */
}
footer{
    padding-top: 40px;
    background-color: var(--footer-bg-color);
    font-family: 'Quicksand';
    text-align: center;
    font-size: 1vw;
    letter-spacing: 0px;
}
.icon{
    padding-left: 2%;
    padding-right: 2%;
    width: 2vw;
    height: auto;
}
.icon:hover{
    transform: scale(1.2);
    transition: all 150ms;
}
.redirects{
    padding-top: 20px;
    display: grid;
    padding-left: 25vw;
    padding-right: 25vw;
    grid-template-columns: auto auto;

}
.redirects ul li{
    padding-top: 3px;
}
.redirects b{
    font-size: 1.2vw;
    color: var(--footer-head-color);
}
.footer-list{
    font-size: 1vw;
    list-style: none;
    padding-top: 15px;
}
.footer-list a:hover{
    color: rgba(255, 255, 255, 1)
}
.redirects ul a{
    color: var(--footer-list-color);
    text-decoration: none;
}
.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1080px) {
    footer{
        height: 9vh;
        padding-bottom: 2.5vh;
    }
    .icon{
        width: 3.5vw;
        height: auto;
    }
    .redirects{
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .redirects b{
        font-size: 2vw;
    }
    .redirects ul a{
        font-size: 1.5vw;
    }
    .copyright{
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 1024px) {
    footer{
        height: 16vh;
    }
}
@media only screen and (max-width: 768px) {
    footer{
        height: 20vh;
    }
}

@media screen and (max-width: 512px) {
    footer{
        height: 20vh;
        padding-top: 4vh;
    }
    .icon{
        padding-bottom: 2vh;
    }
}