@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: rgb(250, 250, 250);
}
body{
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
    background-color: var(--bg-color);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
body::-webkit-scrollbar{
    display: none;
}

/* Main content begins */
.image{
    display: block;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.content{
    display: grid;
    height: 80vh;
    align-items: center;
    /*grid-template-columns: 600px 2fr;*/
    grid-template-columns: 4fr 2.8fr;
    padding-right: 3%;
    padding-bottom: 1vh;
    column-gap: 5px;
}
.text{
    text-align: center;
    margin: 3vw;
}
.tagline{
    font-family: 'Raleway';
    font-size: 3.5vw;
    font-weight: 800;
    color: rgb(2, 84, 100);
    text-shadow: 3px 3px rgba(19, 66, 113, 0.15);
}
.aboutCrammerBuddy{
    font-family: 'Poppins';
    font-size: 1.2vw;
    letter-spacing: 0.5px;
    font-weight: 300;
    padding-bottom: 4vh;
}
.aboutCrammerBuddy a{
    text-decoration: none;
    color:cornflowerblue;
}
.exploreButton {
    background-color: rgb(194, 251, 215);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    margin-top: 35px;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1.2vw;
    touch-action: manipulation;
  }
.exploreButton:hover {
    box-shadow: rgba(44,187,99,.30) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05);
}
/* Main content ends */

/* Resposive design from here*/

@media only screen and (max-width: 1120px) {
    .tagline{
        font-size: 36px;
    }
}
@media only screen and (max-width: 1080px) {
    .image{
        display: flex;
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-bottom: 5%;
    }
    .content{
        height: 79vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-right: 0;
    }
    .tagline{
        padding-top: 1vh;
        font-size: 6.5vw;
    }
    .aboutCrammerBuddy{
        padding-top: 1vh;
        padding-bottom: 3vh;
        font-size: 3.2vw;
    }
    .exploreButton{
        padding: 0.7vh;
        font-size: 3vw;
        margin-bottom: 2vh;
    }
}

@media only screen and (max-width: 1024px) {
    body{
        padding-top: 18vh;
    }
    .image{
        width: 50%;
        margin: 0;
        align-content: center;
    }
    .content{
        height: 75vh;
    }
    .aboutCrammerBuddy{
        padding-bottom: 1vh;
        font-size: 2vw;
        margin: 2vh;
    }
    .exploreButton{
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 512px) {
    
    .image{
        display: none;
    }
    .content{
        height: 68vh;
        padding-bottom: 5vh;
    }
    .aboutCrammerBuddy{
        padding-bottom: 1vh;
        font-size: 3.2vw;
        margin: 0vh;
    }
}





/*Credits
<a href="https://www.freepik.com/free-vector/learning-concept-illustration_14230944.htm#query=study&position=0&from_view=search&track=sph">Image by storyset</a> on Freepik
Icon by <a href='https://iconpacks.net/?utm_source=link-attribution&utm_content=8869'>Iconpacks</a>
Button by <a href='https://getcssscan.com/css-buttons-examples'></a>*/