@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: white;
    color: black;
    font-family: 'Poppins';
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    min-height: 200vh;
}
body::-webkit-scrollbar{
    display: none;
}
#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 5px;
    background: #7983ff;
    z-index: 10000;
  }
.container{
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.container::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../assets/logos/CrammerBuddyLogo.png);
    background-size: 50%;
    background-position: 70%, 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .18;
    z-index: -1;
}
.leftnav{
    background:rgb(209, 244, 250);
    padding: 1px 10px;
}
.leftnav ol li a{
    display: block;
    padding: 1px 10px;
    color: black;
    text-decoration: none;
}
.leftnav ol{
    font-size: 16px;
    padding:0 0 0 26px;
    margin:0;
    position:sticky;
    top: 100px;
    margin-bottom: 80px;
}
.leftnav ol li{
    margin-bottom: 8px;
}
.leftnav a, .dropdown-btn {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
/* On mouse-over */
.leftnav a:hover, .dropdown-btn:hover, .dropdown-container a:hover {
    color: rgb(65, 7, 241);
}
.dropdown-container {
    display: none;
    background-color: rgb(209, 244, 250);
    color: black;
    padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
img{
    align-items: center;
}
.figure-description{
    text-align: center;
}
main{
    padding-top: 90px;
    padding-bottom: 100px;
}
.cBox{
    padding: 30px 28px 0px 30px;
}

.sub-cBox{
    padding: 30px 28px 0px 0px;
}
.formula{
    padding-left: 30px;
}
table, td, th{
    margin-left: 20px;
    border: 1px solid;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-collapse: collapse;
}
th{
    font-size: larger;
}