@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 20vh;
}
body::-webkit-scrollbar{
    display: none;
}
.content{
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 4vh;
}
.content h1{
    font-family: 'Kanit';
    text-align: center;
    font-size: 3vw;
}
.content h3{
    font-family: 'Kanit';
    text-align: center;
    font-size: 1.3vw;
}
.content p, ol{
    font-family: 'Quicksand';
    font-size: 1.5vw;
}
.content ol li{
    padding-top: 2vh;
}
.content a{
    text-decoration: none;
    color:blue;
}
.list{
    text-align: justify;
}
.update-date{
    margin-right: 8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: right;
    font-size: 1.2vw;
    font-family: 'Quicksand';
}
@media screen and (max-width:1080px) {
    body{
        padding-top: 10vh;
    }
    .content h1{
        font-size: 7vw;
    }
    .content h3{
        font-size: 5vw;
    }
    .content p, ol{
        font-size: 4vw;
    }
    .update-date{
        font-size: 2vw;
    }
}